* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(243, 238, 238);
    font-family: 'Fredoka One';
    font-weight: 900;
    font-size: 1.5rem;
}
h1 {
    text-align: center;
}
label {
    padding-top: 0.5rem;
}
.memes-picture {
    margin: 0 auto;
}
.memes {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.memes-item {
    cursor: pointer;
    margin-top: 2rem;
    width: 100%;
    border-top: 0.2rem solid rgb(224, 191, 191);
    display: flex;
    flex-direction: column;
    align-self: center;
}
.memes:hover .memes-title {
    color: black;
}
.memes-input:checked + .memes-title {
    color: black;
}
.memes-title {
    color: rgb(0, 0, 245);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.memes-input {
    appearance: none;
}

.memes-input:checked ~ .memes-picture {
    display: block;
}
.memes-item:hover .memes-picture {
    display: block;
}
.memes-picture {
    display: none;
}
.memes-title:before {
    content: url(icon/add_icon.svg);
    order: 2;
}

.memes-item:hover .memes-title:before,
.memes-input:checked + .memes-title:before {
    content: url(icon/close_icon.svg);
    order: 2;
}